
<h1>Reservasyon Yap</h1>

<%= form_for [@place, @reservasyon] do |f| %>
    <p>
      <%= f.label :Date %><br>
      <%= f.date_select :date %>
    </p>
    <p>
      <%= f.label "Kişi Sayısı" %><br>
     <%=  f.text_field :number_of_people %>
      </p>
    <p>
      <%= f.submit "Reserve Et" %>
    </p>


<% end %>