<h3>Showing <%= @place.name %> </h3>
<p> <b>Name : </b><i> <%= @place.name %> </i><br>
<b>Address : </b><%= @place.adress %><br>
<b>Desc : </b><%= @place.description %><br>
<b>Established_at : </b> <%= @place.established_at %><br>
<b>Phone Number : </b><u><%= @place.phone_number %></u><br>
<b>City : </b><%= @place.city %><br>
<b>Contact_Mail </b> <%= @place.contact_mail %><br />
  <b>Category:</b> <%= @place.category.name %><br />
<b>Foods: </b><%= @place.foods.collect {|x| x.name }%><br />
  </p>

  <b>Facebook</b> <%= @place.social_profile.facebook %><br />

  <b>Twitter</b> <%= @place.social_profile.twitter %><br />

  <b>Instagram</b> <%= @place.social_profile.instagram %><br />



<h1>Reservasyonlar</h1>
<% @place.reservasyons.reject{ |r| r.id.nil? }.each do |r| %>
    <p>
      E-mail:
      <%= r.customer.email %>
      Tarih :
      <%= r.date %><br>
      Kişi Sayısı :
      <%= r.number_of_people %>

      <%= link_to 'Destroy Reservation', [r.place, r],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </p>
    <% end %>


<% if current_customer.present?%>
<%= render 'reservasyons/form' %>
<%end%>

<h2>Comments</h2>

  <% @place.comments.each do |comment| %>
    <p>
      Commenter:
      <%= comment.customer.email %><br />
      Comment:
      <%= comment.body %>

     <% if current_customer.present? && current_customer.id == comment.customer.id %>

      <%= link_to 'Destroy Comment', [comment.place, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>


    <%end%>
    </p>
<% end %>
<% if current_customer.present?%>
<h2>Add a comment:</h2>
<%= form_for([@place, @place.comments.build]) do |f| %>
    <p>
      <%= f.label :Comment %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit "Yorum Yap" %>
    </p>
<% end %>
<%end%>

<%= link_to 'Back', places_path %>
<% if current_owner.present? and current_owner.id == @place.owner_id %>
    <br/>
    <%= link_to "Edit idea", edit_place_path(@place) %>
    <br/>
    <%= link_to "Sil", place_path(@place), method: :delete %>
<% end %>
